<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edhuar.home.com.uniquest">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/uni2"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".WelcomeActivity"
            android:label="@string/title_activity_welcome"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".GameActivity"></activity>

        <service
            android:name="jaalee.sdk.service.BeaconService"
            android:exported="false" />

        <activity
            android:name=".Main2Activity"
            android:parentActivityName=".GameActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".GameActivity" />
        </activity>

        <receiver
            android:name=".AlertReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".MyReceiver"
            android:enabled="true"
            android:exported="true" />

    </application>

</manifest>
